<a href="https://colab.research.google.com/github/Rya-Sanovar/Data-Mining-Techniques-to-predict-Depression-for-Mental-Health-Awareness/blob/main/support_vector_machine_depression_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Support Vector Machine (SVM)

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

## Importing the libraries

In [ ]:
import os
from datetime import datetime 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report
from sklearn.base import BaseEstimator, TransformerMixin

## Importing the dataset

In [ ]:
scores = pd.read_csv('/content/drive/MyDrive/data/scores.csv')
scores = scores[scores.number.str.startswith("condition")]
scores = scores.fillna(0)
scores['edu'] = scores['edu'].apply(lambda x: 0 if x == ' ' else x)
#find average age
agl = []
sum = 0
for a in scores["age"]:
  agl = str(a).split("-")
  length = len(agl)
  for i in range(length):
    sum = sum + float(agl[i])
  av = round (sum / length)
  sum = 0
  scores.age[scores.age == a] = av

scores.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,condition_1,11,2,37,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0
1,condition_2,18,2,42,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0
2,condition_3,13,1,47,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0
3,condition_4,13,2,27,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0
4,condition_5,13,2,52,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0

In [ ]:
#find average education years
edul = []
sum = 0
for e in scores["edu"]:
  edul = str(e).split("-")
  length = len(edul)
  for i in range(length):
    sum = sum + int(edul[i])
  ave = round (sum / length)
  sum = 0
  scores.edu[scores.edu == e] = ave

scores.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,condition_1,11,2,37,2.0,2.0,2.0,8,1.0,2.0,19.0,19.0
1,condition_2,18,2,42,1.0,2.0,2.0,8,2.0,2.0,24.0,11.0
2,condition_3,13,1,47,2.0,2.0,2.0,8,2.0,2.0,24.0,25.0
3,condition_4,13,2,27,2.0,2.0,2.0,13,1.0,1.0,20.0,16.0
4,condition_5,13,2,52,2.0,2.0,2.0,13,2.0,2.0,26.0,26.0

In [ ]:
scores = scores[["gender", "age", "afftype", "melanch", "inpatient", "edu", "marriage", "work", "madrs1", "madrs2"]]
scores.head()

   gender age  afftype  melanch  inpatient edu  marriage  work  madrs1  madrs2
0       2  37      2.0      2.0        2.0   8       1.0   2.0    19.0    19.0
1       2  42      1.0      2.0        2.0   8       2.0   2.0    24.0    11.0
2       1  47      2.0      2.0        2.0   8       2.0   2.0    24.0    25.0
3       2  27      2.0      2.0        2.0  13       1.0   1.0    20.0    16.0
4       2  52      2.0      2.0        2.0  13       2.0   2.0    26.0    26.0

In [ ]:
X_1 = scores.loc[:, scores.columns != 'madrs1'].values
# df.loc[:, df.columns != 'b']
y_1 = scores.iloc[:, 8].values
X_2 = scores.loc[:, scores.columns != 'madrs2'].values
y_2 = scores.iloc[:, -1].values

## Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X_1, y_1, test_size = 0.08, random_state = 0)
X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(X_2, y_2, test_size = 0.08, random_state = 0)

## Training the SVM model on the Training set

In [ ]:
from sklearn.svm import SVC
classifier_1 = SVC(kernel = 'linear', random_state = 0)
classifier_1.fit(X_train_1, y_train_1)
classifier_2 = SVC(kernel = 'linear', random_state = 0)
classifier_2.fit(X_train_2, y_train_2)

SVC(kernel='linear', random_state=0)

## Making the Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred_1 = classifier_1.predict(X_test_1)
y_pred_2 = classifier_2.predict(X_test_2)
cm_1 = confusion_matrix(y_test_1, y_pred_1)
cm_2 = confusion_matrix(y_test_2, y_pred_2)
print(cm_1)
accuracy_score(y_test_1, y_pred_1)

[[1 0]
 [1 0]]

0.5

#### The SVM model achieves an accuracy of 50% which can be further improved upon by using a larger dataset or applying k-fold cross validation